[package]
name = "biophys_event_queue_l4"
version = "0.1.0"
edition = "2021"

[dependencies]

[features]
biophys = []
biophys-l4 = ["biophys"]
biophys-l4-synapses = ["biophys-l4"]
biophys-l4-stp = ["biophys-l4-synapses"]
